html{
  height: 100%;
}

body {
  min-height: 100%;
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

#__nuxt {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a {
  color: #555;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #222;
  }
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-style: normal;
}

menu, ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-white {
  background-color: #fff
}

*, *:hover {
  @include transition(background-color .25s linear,
                      color .05s linear,
                      margin .25s linear,
                      opacity .25s linear,
                      filter .25s linear,
                      visibility .25s linear,
                      transform .25s linear);
}

.swiper-pagination-bullet {
  background: #fff;
}

.main {
  .main-container {
    display: flex;

    .page-container {
      flex: 1 1 66.6%;
      max-width: 66.6%;
      .nav {
        margin-bottom: 1rem;
      }
    }
    .sidebar {
      flex: 1 1 33.4%;
      padding-left: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .main-container {
      display: block;
      .page-container {
        max-width: 100%;
        margin: 0 1rem 2rem 1rem;
      }
      .sidebar {
        max-width: 100%;
        padding: 0;
        margin: 0 1rem;
      }
    }
  }
}

.cm-content,
.comment-content,
.reply-preview,
.markdown-preview {
  font-size: 1em;
  line-height: 2em;
  margin: .5em 0;
  word-wrap: break-word;

  a {
    text-decoration: underline;
  }

  img {
    margin: .5rem 0;
    max-width: 100%;
    border-radius: 2px;
  }

  p {
    margin: 0;
  }

  code {
    color: #bd4147;
    padding: .3em .5em;
    margin: 0 .5em;
    border-radius: $radius;
    background-color: $module-hover-bg;
  }

  pre {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    position: relative;
    overflow: hidden;
    margin-top: .6em;
    margin-bottom: 1em;
    padding-top: 2.5em;
    border-radius: $radius;
    background-color: rgba(0, 0, 0, 0.8);

    &:before {
      color: white;
      content: attr(data-lang)" CODE";
      height: 2.5em;
      line-height: 2.5em;
      font-size: 1em;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-weight: 700;
      background-color: rgba(68, 68, 68, 0.9);
      display: block;
      text-transform: uppercase;
      text-align: center;
    }

    >.code-lines {
      display: none;
    }

    >code {
      margin: 0;
      padding: 1em;
      float: left;
      width: 100%;
      height: 100%;
      display: block;
      line-height: 1.6em;
      color: rgba(255, 255, 255, 0.87);
      background-color: transparent;
      white-space: pre;
      overflow: auto;
    }
  }
}

#image-popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all .08s;
  background-color: transparent;

  > img {
    max-width: 90%;
    max-height: 90%;
    transform: scale(.8);
    transition: all .08s;
    border: .5em solid rgba(210, 210, 210, 0.5);

    &.shang {
      width: 30rem;
    }
  }

  &.display {
    opacity: 1;
    visibility: visible;
    transition: all .08s;
    background-color: rgba(80, 80, 80, 0.5);

    > img {
      transform: scale(1);
      transition: all .08s;
    }
  }
}
