html{
  height: 100%;
}

body {
  min-height: 100%;
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 400;
}

#__nuxt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a {
  color: #555;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #222;
  }
}

p {
  color: #8d8d8d;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-style: normal;
  font-weight: 300;
}

menu, ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-white {
  background-color: #fff
}

*, *:hover {
  @include transition(background-color .25s linear,
                      color .05s linear,
                      margin .25s linear,
                      opacity .25s linear,
                      filter .25s linear,
                      visibility .25s linear,
                      transform .25s linear);
}

.swiper-pagination-bullet {
  background: #fff;
}
